.jumbotron{
    background-image:url('../images/train.jpg');
    text-align: center;
    color: white;
}
th,td{
    padding: 15px;
}
.panel-default{
    border-color: blue;
}
.panel-default>.panel-heading{
    background-color: blue;
    color: white;
}
