.jumbotron{
    background-image:url('../images/train.jpg');
    text-align: center;
    color: white;
}

table,th,td{
    border: 1px solid black;
}
body{
    background-image: url("../images/bg.jpg");
}
th,td{
    padding: 15px;
}
.panel-default{
    border-color: blue;
}
.panel-default>.panel-heading{
    background-color: blue;
    color: white;
}
